<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<style>
    #users-table {
        display: flex;
        flex-direction: column;
    }

    .user-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
</style>
<div id="app" class="container">
    <button class="btn-warning btn" v-on:click="resetPoints">Reset points</button>
    <button class="btn-warning btn" v-on:click="deleteAllUsers">Delete all users</button>
    <hr/>
    <div v-if="isSengDisallowed">Seng Is Not Allowed!!
        <button class="btn btn-success" v-on:click="allowSeng">Allow Seng</button>
    </div>
    <div v-else>
        Seng is Allowed!!
        <button class="btn btn-warning" v-on:click="disallowSeng">Disallow Seng</button>
    </div>
    <hr/>
    deployed time: {{serverStartTime}}
    <hr/>
    <div id="users-table">
        <div class="user-row" v-for="user in users"
             :key="user.user_id">
            <div>
                {{user.user_id}}
                <button v-on:click="deleteUser(user.user_id)">❌</button>
            </div>
            <div>{{user.points}}</div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            roomId: "global-room",
            users: [],
            pingResponse: {},
            isSengDisallowed: null,
            serverStartTime: ""
        },
        methods: {
            async resetPoints() {
                if (!confirm("Confirm reset all users points?")) {
                    return
                }
                const response = await fetch(`/rooms/${this.roomId}/reset-points`, {
                    method: "POST"
                })
                console.log(await response.json())
                this.fetchUsers()
            },
            async fetchUsers() {
                const response = await fetch(`/rooms/${this.roomId}/users`)
                const users = await response.json()
                this.users = users.sort((a, b) => {
                    const diff = a.points - b.points
                    if (diff == 0) {
                        return a["user_id"].localeCompare(b["user_id"])
                    }
                    return diff
                })
            },
            async deleteAllUsers() {
                if (!confirm("Confirm delete all users?")) {
                    return
                }
                const response = await fetch(`/rooms/${this.roomId}/users`, {
                    method: "DELETE"
                })
                console.log(await response.json())
                this.fetchUsers()
            },
            async deleteUser(userId) {
                const response = await fetch(`/rooms/${this.roomId}/user/${userId}`, {
                    method: "DELETE"
                })
                console.log(await response.json())
                this.fetchUsers()
            },
            async fetchCheerRules() {
                const response = await fetch(`/rooms/${this.roomId}/cheer-rules`)
                const data = await response.json()
                this.isSengDisallowed = data
            },
            async disallowSeng() {
                const response = await fetch(`/rooms/${this.roomId}/cheer-rules/disallow-seng`, {
                    method: "POST"
                })
                console.log(await response.json())
                this.fetchCheerRules()
            },
            async allowSeng() {
                const response = await fetch(`/rooms/${this.roomId}/cheer-rules`, {
                    method: "DELETE"
                })

                console.log(await response.json())

                this.fetchCheerRules()
            },
            async fetchPing() {
                const response = await fetch(`/ping`)
                const data = await response.json()
                this.pingResponse = data
                this.serverStartTime = new Intl.DateTimeFormat('en-SG', { dateStyle: 'full', timeStyle: 'long' }).format(new Date(data["server_start_time"]))
                console.log(data)
            }
        },
        created() {
            this.fetchPing()
            this.fetchUsers()
            setInterval(() => this.fetchUsers(), 2000)

            this.fetchCheerRules()
            setInterval(() => this.fetchCheerRules(), 2000)
        }
    })
</script>
</body>


</html>