<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Cheers To Life</title>

    <!-- Latest compiled and minified CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous"
    />
    <!-- Optional theme -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous"
    />

    <link rel="stylesheet" href="style.css"/>
</head>
<body>

<style>
    #app * {
        width: 100%;
    }

    #app {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-evenly;
        padding: 5%;
    }

    #actionsContainer {
        text-align: center;
    }

    #actionsContainer * {
        margin-top: 20px;
    }

    #userIdContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-evenly;
    }

    #yum-btns {
        display: flex;
        justify-content: space-evenly;
    }

    #yum-btns button {
        width: 30%
    }

    #user-images-container img {
        width: 250px;
    }

    #user-images-container img:hover {
        border: 1px solid orangered;
        border-radius: 3px;
        cursor: pointer;
    }

    #user-images-container img.active {
        border: 1px solid orangered;
        border-radius: 3px;
    }
</style>
<div id="app" class="container">
    Yum Seng
    <div id="actionsContainer" v-if="userId != null">
        <h1>Hi, {{ userId }} </h1>

        <div id="yum-btns">
            <button class="btn btn-primary" v-on:click="yum">YUM</button>
            <button class='btn btn-success'>SENG</button>
        </div>

        <div v-show="takingPhoto">
            <div>
                <button id="take-photo" v-on:click="takePhoto">KACHING</button>
                <button id="stop-camera" v-on:click="stopCamera">BACK</button>
            </div>
            <video id="video" width="320" height="240" autoplay></video>
            <canvas style="display: none" id="canvas" width="320" height="240"></canvas>
        </div>

        <div v-show="!takingPhoto">
            <button id="start-camera" v-on:click="startCamera">Take Photo</button>
        </div>
        <div id="user-images-container">
            <img v-bind:class="{ active: yumImageUrl == 'beermug.png' }" v-on:click="setYumImageUrl('beermug.png')"
                 src="beermug.png"/>
            <img v-bind:class="{ active: yumImageUrl == image.url }" v-on:click="setYumImageUrl(image.url)"
                 v-for="image in userImages" v-bind:src="image.url" :key="image.object_id"/>
        </div>
    </div>
    <div id="userIdContainer" v-else>
        Choose a special name and remember it!
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Name</span>
            </div>
            <input class="form-control" v-model="userIdInput"/>
        </div>
        <div class="input-group">
            <button class="btn btn-primary" v-on:click="setUserId">Let's Go!</button>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"
></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            userId: null,
            userIdInput: null,
            roomId: "global-room",
            takingPhoto: false,
            userImages: [],
            yumImageUrl: ""
        },
        methods: {
            setYumImageUrl: function (url) {
                this.yumImageUrl = url
            },
            joinRoom: async function () {
                return await fetch(`/rooms/${this.roomId}/user/${this.userId}`, {
                    method: 'POST',
                })
            },
            postImage: async function (imageDataUrl) {
                return await fetch(`/rooms/${this.roomId}/user/${this.userId}/images`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({url: imageDataUrl})
                })
            },
            fetchUserImages: async function () {
                const resp = await fetch(`/rooms/${this.roomId}/user/${this.userId}/images`)
                const images = await resp.json()
                this.userImages = images
            },
            startCamera: async function () {
                let video = document.querySelector("#video");
                let stream = await navigator.mediaDevices.getUserMedia({video: true, audio: false});
                video.srcObject = stream;
                this.takingPhoto = true;
            },
            stopCamera: async function () {
                let video = document.querySelector("#video");
                video.srcObject = null;
                this.takingPhoto = false;
            },
            takePhoto: async function () {
                let canvas = document.querySelector("#canvas");
                canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                let image_data_url = canvas.toDataURL('image/jpeg');
                await this.postImage(image_data_url)
                await this.fetchUserImages()
            },
            setUserId: async function (event) {
                this.userId = this.userIdInput
                await this.joinRoom()
                await this.fetchUserImages()
            },
            yum: async function (event) {
                await fetch(`/rooms/${this.roomId}/user/${this.userId}/cheers`, {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify({
                        value: "a cheer",
                        client_created_at: new Date().toJSON(),
                        user_id: this.userId,
                        image_url: this.yumImageUrl
                    })
                })
            }
        }
    })
</script>
</body>
</html>