<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Cheers To Life</title>

    <!-- Latest compiled and minified CSS -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous"
    />
    <!-- Optional theme -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous"
    />

    <link rel="stylesheet" href="style.css"/>
</head>
<body>

<style>
    body {
        font-family: 'Trebuchet MS', sans-serif;
    }

    #app * {
        width: 100%;
    }

    #app {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-evenly;
        padding: 5%;
    }

    #actionsContainer {
        text-align: center;
    }

    #actionsContainer * {
        margin-top: 20px;
    }

    #userIdContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-evenly;
    }

    #yum-btns {
        display: flex;
        justify-content: space-around;
    }

    #yum-btns * {
        width: 25%;
        background: none;
        color: #ff0a0a;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    #yum-btns button:active {
        transform: translateY(10px)
    }

    #yum-btns button {
        font-size: 3em;
    }

    #user-images-container {
        width: 100%;
        position: relative;
    }

    #user-images-container img {
        max-width: 30vw;
    }

    #user-images-container img:hover {
        border: 1px solid orangered;
        border-radius: 5px;
        cursor: pointer;
    }

    #user-images-container img.active {
        border: 3px solid orangered;
        border-radius: 5px;
    }

    #takeMobilePhotoContainer {
        position: relative;
        text-align: center;
    }

    #takeMobilePhotoBtn {
        cursor: pointer;
        font-size: 3em;
        border-radius: 4px;
        display: inline;
    }
</style>
<div id="app" class="container">
    <div id="actionsContainer" v-if="userId != null">
        <h3>{{ userId }} </h3>

        <div id="yum-btns">
            <button v-on:click="yum">飲</button>
            <button v-on:click="seng">勝</button>

            <div id="takeMobilePhotoContainer" v-if="isMobile">
                <a id="takeMobilePhotoBtn"
                   onclick="document.getElementById('camera-input').click();">📸</a>
                <input v-on:change="takeMobileCameraPhoto" class="btn btn-primary" style="display:none;" type="file"
                       id="camera-input" accept="image/*" capture="camera"/>
            </div>
        </div>

        <div v-if="!isMobile">
            <div style="background: lightpink; border-radius: 5px; padding: 20px" v-show="takingPhoto">
                <h2>Add Photo</h2>
                <video id="video" width="320" height="240" autoplay></video>
                <canvas style="display: none" id="canvas" width="320" height="240"></canvas>

                <div style="font-size: xxx-large; display: flex; justify-content: center">
                    <span id="take-photo" v-on:click="takePhoto">📸</span>
                    <span id="stop-camera" v-on:click="stopCamera">❌</span>
                </div>
            </div>

            <div v-show="!takingPhoto">
                <button id="start-camera" v-on:click="startCamera">Take Photo</button>
            </div>
        </div>

        <hr/>
        <div style="display: flex; justify-content: space-between">
            <span>choose</span>
            <span>选择</span>
        </div>
        <div id="user-images-container">
            <img v-bind:class="{ active: yumImageUrl == 'beermug.png' }" v-on:click="setYumImageUrl('beermug.png')"
                 src="beermug.png"/>
            <img v-bind:class="{ active: yumImageUrl == image.url }" v-on:click="setYumImageUrl(image.url)"
                 v-for="image in userImages" v-bind:src="image.url" :key="image.object_id"/>
        </div>
    </div>
    <div id="userIdContainer" v-else>
        Choose a special name and remember it!
        <div class="input-group">
            <!--            <div class="input-group-prepend">-->
            <!--                <span class="input-group-text">Name</span>-->
            <!--            </div>-->
            <input class="form-control" v-model="userIdInput"/>
        </div>
        <div class="input-group">
            <button class="btn btn-primary" v-on:click="setUserId">Let's Go!</button>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"
></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
    const maxWidth = 200;
    const maxHeight = 200;

    function resizeImage(img) {
        var canvas = document.createElement('canvas');

        var width = img.width;
        var height = img.height;

        // calculate the width and height, constraining the proportions
        if (width > height) {
            if (width > maxWidth) {
                //height *= maxWidth / width;
                height = Math.round(height *= maxWidth / width);
                width = maxWidth;
            }
        } else {
            if (height > maxHeight) {
                //width *= maxHeight / height;
                width = Math.round(width *= maxHeight / height);
                height = maxHeight;
            }
        }

        // resize the canvas and draw the image data into it
        canvas.width = width;
        canvas.height = height;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0, width, height);

        return canvas.toDataURL("image/jpeg", 0.7); // get the data from canvas as 70% JPG (can be also PNG, etc.)
    }

    var app = new Vue({
        el: '#app',
        data: {
            userId: null,
            userIdInput: null,
            roomId: "global-room",
            takingPhoto: false,
            userImages: [],
            yumImageUrl: "",
            isMobile: /iPhone|iPad|iPod|Android/i.test(navigator.userAgent)
        },
        created() {
            const urlParams = new URLSearchParams(window.location.search);
            console.log(window.location.search)
            const name = urlParams.get('name');
            console.log(name)
            if(name != null && name != "") {
                this.userId = name
                this.joinRoom()
            }
        },
        methods: {
            takeMobileCameraPhoto: function () {
                const cameraInput = document.querySelector("#camera-input")
                const reader = new FileReader();
                const file = cameraInput.files[0];
                const thiss = this;
                reader.onload = function (event) {
                    // blob stuff
                    var blob = new Blob([event.target.result]); // create blob...
                    window.URL = window.URL || window.webkitURL;
                    var blobURL = window.URL.createObjectURL(blob); // and get it's URL

                    var image = new Image();
                    image.src = blobURL;
                    //preview.appendChild(image); // preview commented out, I am using the canvas instead
                    image.onload = async () => {
                        // have to wait till it's loaded
                        var resized = resizeImage(image); // send it to canvas

                        await thiss.postImage(resized);
                        await thiss.fetchUserImages();
                    }
                }

                reader.readAsArrayBuffer(file);
            },
            setYumImageUrl: function (url) {
                this.yumImageUrl = url
            },
            joinRoom: async function () {
                return await fetch(`/rooms/${this.roomId}/user/${this.userId}`, {
                    method: 'POST',
                })
            },
            postImage: async function (imageDataUrl) {
                return await fetch(`/rooms/${this.roomId}/user/${this.userId}/images`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({url: imageDataUrl})
                })
            },
            fetchUserImages: async function () {
                const resp = await fetch(`/rooms/${this.roomId}/user/${this.userId}/images`)
                const images = await resp.json()
                this.userImages = images
            },
            startCamera: async function () {
                let video = document.querySelector("#video");
                let stream = await navigator.mediaDevices.getUserMedia({video: true, audio: false});
                video.srcObject = stream;
                this.takingPhoto = true;
            },
            stopCamera: async function () {
                let video = document.querySelector("#video");
                video.srcObject = null;
                this.takingPhoto = false;
            },
            takePhoto: async function () {
                let canvas = document.querySelector("#canvas");
                canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                let image_data_url = canvas.toDataURL('image/jpeg');
                await this.postImage(image_data_url)
                await this.fetchUserImages()
            },
            setUserId: async function (event) {
                this.userId = this.userIdInput
                await this.joinRoom()
                await this.fetchUserImages()
            },
            yum: async function () {
                await fetch(`/rooms/${this.roomId}/user/${this.userId}/cheers`, {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify({
                        value: "yum",
                        client_created_at: new Date().toJSON(),
                        user_id: this.userId,
                        image_url: this.yumImageUrl
                    })
                })
            },
            seng: async function () {
                await fetch(`/rooms/${this.roomId}/user/${this.userId}/cheers`, {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify({
                        value: "seng",
                        client_created_at: new Date().toJSON(),
                        user_id: this.userId,
                        image_url: this.yumImageUrl
                    })
                })
            }
        }
    })
</script>
</body>
</html>